* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body {
    background-color: #F5F8FF;
}
.background-image {
    background-image: url(../important-image/Hero-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 75vh;
    position: relative;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
    padding-top: 50px;
    position: relative;
}
nav h1 {
    font-size: 34;
    color: #4E47FF;
    font-weight: 800;
    transform: scaleY(1.1);
}
.nav-btn {
    background-color: #4E47FF;
    height: 48px;
    width: 132px;
    border-radius: 10px;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}
.nav-btn:hover {
    background-color: red;
}
.nav-info {
    text-align: center;
    margin-top: 200px;
    font-size: 34px;
    font-weight: bold;
}
.nav-info-btn {
    background-color: #4E47FF;
    height: 48px;
    width: 174px;
    color: white;
    border-radius: 10px;
    border: none;
    margin-top: 57px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}
.nav-info-btn:hover {
    background-color: red;
}
.action-section {
   margin: 70px 300px;
   align-items: center;
}
.action-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
} 
.action-title {
    font-size: 42px;
    font-weight: bold;
}
.action-sub-title {
    letter-spacing: 0.5px;
    font-size: 18px;
    font-weight: 100;
    margin-top: 30px;
    color: #999;
}
.action-image {
    height: 328px;
    width: 403px;
    border-radius: 48px;
}
.action-btn {
    background-color: #4E47FF;
    padding: 12px 38px;
    border-radius: 10px;
    border: none;
    color: white;
    margin-top: 30px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}
.action-btn:hover {
    background-color: red;
}
.user-section {
    text-align: center;
    margin: 90px 200px;
    background-color: #E6E7FF;
    padding: 50px 80px;
    border-radius: 10px;
}
.user-title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 40px;
}
.user-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 350px;
}
.text-1{
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
}
.text-2 {
    font-size: 20px;
    color: #333;
}
.card-title {
    text-align: center;
    font-size: 42px;
    font-weight: bold;
    color: #252432;
}
.card-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 70px 400px;
}
.card-1 {
    padding: 24px 24px;
    background-color: white;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: 0.4s ease;
}
.card-1:hover {
    transform: translateY(-10px);
}
.card-image {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
}
.card-image h4 span {
    color: #d8c3c3;
    font-weight: 100;
}
.card-image-1 {
    border-radius: 50%;
}
.icon {
    display: flex;
    height: 20px;
    width: 20px;
}
.card-info h2 {
    margin-top: 25px;
}
.card-info p {
    margin-top: 10px;
    line-height: 1.2;
}
.extra-section {
    display: flex;
    justify-content: center;
    align-items: center;
}
.extra-container {
    width: 1140px;
    height: 696px;
    padding: 71px 150px;
    background-color: #FFFFFF;
    text-align: center;
    border-radius: 14px;
}
.extra-title {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 28px;
}
.extra-sub-title {
    margin-bottom: 22px;
}
.extra-button {
    background-color: #4E47FF;
    padding: 12px 36px;
    border: none;
    color: white;
    border-radius: 10px;
    margin-bottom: 18px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}
.extra-button:hover {
    background-color: red;
}
.extra-image img {
    width: 840px;
    height: 364px;
    border-radius: 48px;
}
.form-section {
    margin: 90px 400px;
}
.form-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form-title {
    font-size: 92px;
    font-weight: bold;
}
form label {
    font-size: 15px;
    font-weight: 500;
}
form input {
    padding: 20px 32px;
    width: 100%;
    border: none;
    border-radius: 10px;
    box-shadow: px 1px 1px 1px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
}
form textarea {
    border: none;
    box-shadow: px 1px 1px 1px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
}
.text-area {
    padding: 20px 20px;
}
.form-btn {
    background: #4E47FF;
    height: 50%;
    width: 100%;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}
.form-btn:hover {
    background-color: red;
}
.footer-container {
    height: 428px;
    width: 100%;
    background-color: white;
    padding: 100px 0px;
}
.footer-text {
    text-align: center;
}
.footer-services {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 750px;
    list-style: none;
}
.footer-title {
    color: #4E47FF;
    font-size: 100px;
    font-weight:  800;
}
.footer-services li a {
     text-decoration: none;
}